# Eclipse
.classpath
.project
.settings/


# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# webdriver
chromedriver*
geckodriver*
IEDriverServer.exe

# driver-binary-downloader-maven-plugin
webDriver_binaries/

# temporary backup files
**/bak

#packages
**/*.deb
*.deb
*.rpm
*.tgz
*.jar
*.war
*.ear
